<html>
<head>
    <!-- style sheets -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- scripts -->
    <script src="assets/js/bundle.js"></script>
    <script src="assets/js/test_sketch.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/p5/p5.min.js"></script>
    <script src="assets/js/p5/addons/p5.dom.min.js"></script>
    <script src="assets/js/math.min.js"></script>
    <script src="assets/js/hex-to-rgb.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://d3js.org/d3-color.v1.min.js"></script>
	<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script src="https://d3js.org/d3-scale.v2.min.js"></script>
    <script src="assets/js/underscore.js"></script>
</head>
<body>
<p id="demo"></p>
<p id="smith"></p>
	<canvas id="myCanvas" width="1000" height="800" style="border:1px solid #d3d3d3;">
        <!--<audio id="audio1"-->
                <!--controls autoplay>-->
            <!--<source src="assets/chi.wav" type="audio/wav">-->


        <!--</audio>-->
        <!--<audio controls-->
               <!--loop-->
               <!--crossorigin="anonymous"-->
                <!--id="audio1" src="assets/chi.wav" ></audio>-->
        <!--<audio id="audio2" src="assets/fuu.wav" ></audio>-->
        <!--<input id="upload" accept="./assets/chi.wav" type="file">-->


</body>
</html>
