<html>
<head>
    <!-- style sheets -->
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/main.js"></script>
    <script src="assets/js/bundle.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/p5/p5.min.js"></script>
    <script src="assets/js/math.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3-scale.v2.min.js"></script>
    <script src="assets/js/underscore.js"></script>
</head>
<body>
<p id="demo"></p>
<p id="smith"></p>
<svg id="svg1" width="5000" height="250" ></svg>
	<canvas id="myCanvas" width="5000" height="5000" >

</body>
</html>
