<html>
<head>
    <!-- style sheets -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/meyda/meyda.min.js"></script>
    <script src="assets/js/p5/p5.min.js"></script>
    <script src="assets/js/p5/addons/p5.dom.min.js"></script>
    <script src="assets/js/sketch.js"></script>
    <script src="assets/js/math.min.js"></script>


</head>
<body>
	<canvas id="myCanvas" width="1000" height="1000" style="border:1px solid #d3d3d3;">
	Your browser does not support the HTML5 canvas tag.</canvas>
	<audio crossorigin="anonymous" id="audio" src="./assets/2.mp3"></audio>
    <div>
      <button onclick="document.getElementById('audio').play()">Play the Audio</button>
      <button onclick="document.getElementById('audio').pause()">Pause the Audio</button>
    </div>
</body>
</html>
