
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.notifyjs-corner{
    position: absolute;
    left:1px;
    width: 300px;
}

.axis {
    opacity: 0.5;
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.axis .domain {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    stroke-width: 4px;
    stroke-linecap: round;
}

.axis .halo {
    fill: none;
    stroke: #ddd;
    stroke-width: 3px;
    stroke-linecap: round;
}

.slider .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: grab;
}
text.text-hover {
    fill: #00C;
}

#header {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    text-align: center;
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 0%, red 25%, blue 50%, transparent 0%, transparent 0%, deepskyblue 0%);
    background-size: 10px 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -5;
    display: block;
    text-shadow: none;

}
.header{
    background-color: lightgray;
}


h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
}
h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
}
input#filepicker {
    display: inline-block;

    padding: 40px 0 0 0;
    height: 30px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('https://img.icons8.com/cotton/64/000000/upload.png') center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 60px 60px;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: whitesmoke;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;

}

#network{
    border: 1px solid black;
    position:absolute;
    top: 200px;
    left: 1px;
    width:450px;
    height:1000px;
    resize: both;
}
#chart{
    border: 1px solid black;
    position:absolute;
    top:200px;
    left:451px;
    width:450px;
    height:1000px;
}

.chart-container{
    position:absolute;
    top: 800px;
    left: 0px;
    width:20px;
    height:20px;
}
#marksChart{
    visibility: hidden;
}
#marksChart1{
    visibility: hidden;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 20px;
    height: 20px;
    position: relative;
    left: 100px;
    /*top: 40px;*/
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#controller {
    border: 1px solid black;
    position: absolute;
    left: 1px;
    top: 130px;
    display: inline-block;
    outline: none;
    height: 100px;
    width: 1520px;
    background-color: lightgray;
}

.rectheatmap{
    visibility: visible;
}

.displayrect {
    visibility: visible;
}

#button1 {
    background-color: #4CAF50; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 5px 52px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    position: absolute;
    top: 2px;
    cursor: pointer;
}
#button4 {
    background-color: #4CAF50; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    position: absolute;
    top:45px;
    left:1150px;
    cursor: pointer;
}
#button3 {
    background-color: #4CAF50; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 5px 33px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    position: absolute;
    top:58px;
    cursor: pointer;
}

#button2 {
    background-color: #4CAF50; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 5px 33px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    position: absolute;
    top:20px;
    left: 1150px;
    cursor: pointer;
}

#button5 {
    background-color: #4CAF50; /* Green */
    border: 2px solid gray;
    color: white;
    padding: 5px 54px;
    text-align: center;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 10px;
    position: absolute;
    top:30px;
    left: 0px;
    cursor: pointer;
}

#button1:hover {background-color: deepskyblue;
}

#button2:hover {background-color: deepskyblue;
}

#button3:hover {background-color: deepskyblue;
}
#button4:hover {background-color: deepskyblue;
}

#button5:hover {background-color: deepskyblue;
}

.slidecontainer_perplexity{
  height:25px;
}
.slidecontainer_iteration{
    height:25px;
}
#iteration_output{
    position: relative;
    top: -60px;
    left: 20px
}
#perplexity_output{
    position: relative;
    top: -60px;
    left: 20px
}
#tsne{
    position: absolute;
    left: 900px;
    top:-10px;
}

#tooltip_all {
    /*width:520px !important;*/
    height: 635px !important;
}

#tooltip_radar{
    position: absolute;
    width: 200px !important;
    height: 200px !important;
    left: 300px;
    top: 265px;
}

#tooltip_radar_compare{
    position: absolute;
    width: 200px !important;
    height: 200px !important;
    left: 100px;
    top: 265px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

